.postImage {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.postText {
  font-weight: normal;
  padding: 15px;
}

.postHeader {
  display: flex;
  align-items: center;
  padding: 10px;
}

.avatar {
  margin-right: 15px;
  width: 30px !important;
  height: 30px !important;
  object-fit: contain;
}

.post {
  max-width: 500px;
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}

.commentBox {
  display: flex;
  margin-top: 10px;
}

.input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.button {
  flex: 0;
  border: none;
  border-top: 1px solid lightgray;
}
