* {
  margin: 0;
}

.header {
  object-fit: contain;
  background-color: white;
  padding: 15px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 92%;
  z-index: 2;
  height: 20px;
}

.App {
  background-color: #fafafa;
  height: 100vh;
}

.signup {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.headerImage {
  padding-left: 10px;
}

.posts {
  padding-top: 80px;
}
